<section>
  <form class="filterResults">
    <input type="text" placeholder="Search Books" #book />
    <button class="primary" type="button" (click)="filterResults(book.value)">Search</button>
  </form>
  <form class="addBook">
    <input type="text" placeholder="Search Books" #olid />
    <button class="primary" type="button" (click)="addBook(olid.value)">Add Book By OLID</button>
  </form>
  <section class="results">
    <app-housing-location *ngFor="let book of FilteredBookList" [book]="book"></app-housing-location>
  </section>
</section>
