<article class="book-info">
    <header class="book-header">
      <img
        class="book-photo"
        [src]="housingLocation?.ImgURL"
        alt="Cover of {{ housingLocation?.Title }}"
      />
      <div class="book-title-author">
        <h1 class="book-title">{{ housingLocation?.Title }}</h1>
        <p class="book-author">By {{ housingLocation?.Author }}</p>
      </div>
    </header>
  
    <section class="book-details">
      <h2 class="details-heading">About this book</h2>
      <dl class="details-list">
        <div class="detail-item">
          <dt class="detail-label">ISBN:</dt>
          <dd class="detail-value">{{ housingLocation?.ISBN }}</dd>
        </div>
        <div class="detail-item">
          <dt class="detail-label">Release Date:</dt>
          <dd class="detail-value">{{ housingLocation?.releaseDate }}</dd>
        </div>
        <div class="detail-item">
          <dt class="detail-label">Genre:</dt>
          <dd class="detail-value">{{ housingLocation?.genre }}</dd>
        </div>
        <div class="detail-item">
          <dt class="detail-label">Synopsis:</dt>
          <dd class="detail-value">{{ housingLocation?.synopsis }}</dd>
        </div>
        <div class="detail-item">
            <dt class="detail-label">Buy Now:</dt>
            <dd class="detail-value">
                <a class="buy-link" [href]="housingLocation?.amazon" target="_blank" rel="noopener noreferrer">
                    Purchase on Amazon
                </a>
            </dd>
        </div>
        
      </dl>
    </section>
  </article>
  