<a class="listing-link" [routerLink]="['/details', book.OLID]">
    <section class="listing">
      <img class="listing-photo" [src]="book.ImgURL" alt="{{book.Title}}" />
      <div class="listing-details">
        <h2 class="listing-heading">{{book.Title}}</h2>
        <p class="listing-author">{{book.Author}}</p>
        <button *ngIf="showButton" class="primary-btn" type="button" (click)="removeBook(book.OLID); $event.stopPropagation()">Remove Book</button>
      </div>
    </section>
  </a>
  