<a class="listing-link" [routerLink]="['/details', book.OLID]">
  <section class="listing" *ngIf="!BookStyle" >
     <!-- HomePage Books -->
    <img class="listing-photo" [src]="book.ImgURL" alt="{{book.Title}}" />
    <div class="listing-details">
      <h2 class="listing-heading">{{book.Title}}</h2>
      <p class="listing-author">{{book.Author}}</p>
      
    </div> 
  </section>
  <section *ngIf="BookStyle" >
    <section class="listing"  [ngClass]="{
      'read-book': checkBook(book.OLID), 
      'unread-book': !checkBook(book.OLID),
      'hidden': !BookStyle
    }">
      <img class="listing-photo" [src]="book.ImgURL" alt="{{book.Title}}" />
      <div class="listing-details">
        <h2 class="listing-heading">{{book.Title}}</h2>
        <p class="listing-author">{{book.Author}}</p>
        <button class="read-button" (click)="readBook(book.OLID); $event.stopPropagation(); $event.preventDefault();">
          Read
        </button>
      </div>
      
      <button class="circle-x-button" (click)="removeBook(book.OLID);$event.stopPropagation();$event.preventDefault(); ">
        <span class="x-mark">✕</span>
    </button>
    </section>
    
  </section>
</a>
