<div class="create-user-container">
    <h2>Create New Account</h2>
    <form onsubmit="return  false">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input #username type="text" class="form-control" id="username" placeholder="Enter your username" required >
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input #email  type="email" class="form-control" id="email" placeholder="Enter your email"required >
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input #password type="password" class="form-control" id="password" placeholder="Enter your password" required >
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password"#password2 required >
      </div>
      <button type="submit" class="btn btn-primary" (click)="createAccount(username.value, email.value, password.value)" >Create Account</button>
      
    </form >
  </div>
  